.listTodo {
    margin: 1rem auto;
}

.todoText {
    padding-left: 0.2rem;
}

.todoStatus {
    color: rgb(139, 138, 138);
    padding-left: 6px;
}

.noTodos {
    margin-top: 2rem;
}

.overLine {
    text-decoration: line-through;
}

.naviagtionLink {
    color: red;
}
