.footer {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}